<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body >
    <%- include('partials/nav') %> 
    <!-- the essence of partial views is to create something once without having to rewrite the code several times i.e you make changes once and they apply to all documents -->
    <h1>Welcome to the home page</h1>
   
</body>
</html>
